.label-xfail {
    background: #b94a48;
}

.label-skip,.label-skipif {
    background: #f89406;
}

.label-closed,.label-resolved,.label-verified {
    background: #b94a48;
}

.label-new,.label-reopened {
    background-color: rgb(108, 198, 68);
}

.bug-status {
	text-transform: uppercase;
}