<div class="row">
    <div class="span12">
        <div id="dashboard" ng-init="init()">
            <h2>{{test_data}}</h2>
            <div style="" id="filter_tag">
                Filters
            </div>
            <div class="filters_holder well well-small">
                <div class="filter_type">
                    <div style="margin-bottom: 3px;">Bug Type:</div>
                    <select ng-model="bugTypeFilter">
                        <option value="">All</option>
                        <option value="new|open">open</option>
                        <option value="closed|resolved|verified">closed</option>
                    </select>
                </div>
            </div>
            <div class="test-result" ng-repeat="(name, test_data) in parse_data">
                <h3>{{name}}</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="30%">File</th>
                            <th width="30%">Test Name</th>
                            <th width="40%">Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- if there are no xfails -->
                        <tr ng-if="test_data.length == 0">
                            <td colspan="3" class="hooray">
                                Hooray! No skips or xfails!
                            </td>
                        </tr>

                        <tr ng-repeat="(key, val) in test_data | isBugType:bugTypeFilter">
                            <td><span class="hyphenate">
                                <a href="https://github.com/mozilla/{{name}}/tree/master/tests{{val.dir.split(name + '/tests')[1]}}/{{val.file}}">
                                    {{val.dir.split(name + '/tests')[1]}}/<strong>{{val.file}}</strong>
                                </a>
                            </span></td>
                            <td><span class="hyphenate">{{val.method}}</span></td>
                            <td class="reason-holder">
                                <div ng-repeat="(result_type, result) in val.results">
                                    <div class="reason reason-{{result_type}}">
                                        <span ng-bind-html-unsafe="result.reason | linkify "></span>
                                        <ul style="font-size: 12px;">
                                            <li ng-repeat="link in result.links">
                                                  <span class="label label-{{link.bug_info.status.split(' -')[0]}} bug-status">{{link.bug_info.status}}</span> <a href="{{link.url}}">{{link.to_use}}</a> - <span style="font-style: italic;">{{link.bug_info.title}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
